[% PROCESS settings/header.html %]

[% IF show_app %]
	[% WRAPPER setting title="PLUGIN_BBCIPLAYER_APP" desc="PLUGIN_BBCIPLAYER_APP_DESC" %]

		<div class="prefDesc">[% "ENABLE" | string %]
			<input name="pref_is_app" type="checkbox" [% IF prefs.pref_is_app %] checked [% END %]>
		</div>

	[% END %]
[% END %]

	[% WRAPPER setting title="PLUGIN_BBCIPLAYER_PREFORDER_LIVE" desc="PLUGIN_BBCIPLAYER_PREFORDER_LIVE_DESC" %]

		<div>
			<select class="stdedit" name="pref_prefOrder_live" id="prefOrder_live">
			  [% FOREACH option = opts %]
			  <option value=[% option.opt %] [% IF prefs.pref_prefOrder_live == option.opt; "selected"; END %]>[% option.disp %]</option>
			  [% END %]
			</select>
		</div>

	[% END %]

	[% WRAPPER setting title="PLUGIN_BBCIPLAYER_PREFORDER_AOD" desc="PLUGIN_BBCIPLAYER_PREFORDER_AOD_DESC" %]

		<div>
			<select class="stdedit" name="pref_prefOrder_aod" id="prefOrder_aod">
			  [% FOREACH option = opts %]
			  <option value=[% option.opt %] [% IF prefs.pref_prefOrder_aod == option.opt; "selected"; END %]>[% option.disp %]</option>
			  [% END %]
			</select>
		</div>

	[% END %]

	[% WRAPPER setting title="PLUGIN_BBCIPLAYER_PREFDASHSPEED_LIVE" desc="PLUGIN_BBCIPLAYER_PREFDASHSPEED_LIVE_DESC" %]
		<select class="stdedit" name="pref_Dashspeed_live" id="Dashspeed_live">
			<option [% IF prefs.Dashspeed_live == 0 %]selected="selected" [% END %]value="0">
				[% 'PLUGIN_BBCIPLAYER_DASHSPEED_MIN' | string %]
			</option>
			<option [% IF prefs.Dashspeed_live == 1 %]selected="selected" [% END %]value="1">
				[% 'PLUGIN_BBCIPLAYER_DASHSPEED_MAX' | string %]
			</option>
			<option [% IF prefs.Dashspeed_live == 2 %]selected="selected" [% END %]value="2">
				[% 'PLUGIN_BBCIPLAYER_DASHSPEED_MAX320' | string %]
			</option>
			<option [% IF prefs.Dashspeed_live == 3 %]selected="selected" [% END %]value="3">
				[% 'PLUGIN_BBCIPLAYER_DASHSPEED_MAX128' | string %]
			</option>
			<option [% IF prefs.Dashspeed_live == 4 %]selected="selected" [% END %]value="4">
				[% 'PLUGIN_BBCIPLAYER_DASHSPEED_MAX96' | string %]
			</option>
			<option [% IF prefs.Dashspeed_live == 5 %]selected="selected" [% END %]value="5">
				[% 'PLUGIN_BBCIPLAYER_DASHSPEED_MAX48' | string %]
			</option>
		</select>
	[% END %]

	[% WRAPPER setting title="PLUGIN_BBCIPLAYER_PREFDASHSPEED_AOD" desc="PLUGIN_BBCIPLAYER_PREFDASHSPEED_AOD_DESC" %]
		<select class="stdedit" name="pref_Dashspeed_aod" id="Dashspeed_aod">
			<option [% IF prefs.Dashspeed_aod == 0 %]selected="selected" [% END %]value="0">
				[% 'PLUGIN_BBCIPLAYER_DASHSPEED_MIN' | string %]
			</option>
			<option [% IF prefs.Dashspeed_aod == 1 %]selected="selected" [% END %]value="1">
				[% 'PLUGIN_BBCIPLAYER_DASHSPEED_MAX' | string %]
			</option>
			<option [% IF prefs.Dashspeed_aod == 2 %]selected="selected" [% END %]value="2">
				[% 'PLUGIN_BBCIPLAYER_DASHSPEED_MAX320' | string %]
			</option>
			<option [% IF prefs.Dashspeed_aod == 3 %]selected="selected" [% END %]value="3">
				[% 'PLUGIN_BBCIPLAYER_DASHSPEED_MAX128' | string %]
			</option>
			<option [% IF prefs.Dashspeed_aod == 4 %]selected="selected" [% END %]value="4">
				[% 'PLUGIN_BBCIPLAYER_DASHSPEED_MAX96' | string %]
			</option>
			<option [% IF prefs.Dashspeed_aod == 5 %]selected="selected" [% END %]value="5">
				[% 'PLUGIN_BBCIPLAYER_DASHSPEED_MAX48' | string %]
			</option>
		</select>
	[% END %]

	[% WRAPPER setting title="PLUGIN_BBCIPLAYER_DASHBACKSKIPTIME" desc="PLUGIN_BBCIPLAYER_DASHBACKSKIPTIME_DESC" %]

		<div>
			<select class="stdedit" name="pref_backskiptime" id="backskiptime">
			  [% FOREACH option = skipopts %]
			  <option value=[% option.backtime %] [% IF prefs.pref_backskiptime == option.backtime; "selected"; END %]>[% option.backtimetext %]</option>
			  [% END %]
			</select>
		</div>
	[% END %]
	[% WRAPPER setting title="PLUGIN_BBCIPLAYER_DASHFORWARDSKIPTIME" desc="PLUGIN_BBCIPLAYER_DASHFORWARDSKIPTIME_DESC" %]
		<div>
			<select class="stdedit" name="pref_forwardskiptime" id="forwardskiptime">
			  [% FOREACH option = skipopts %]
			  <option value=[% option.backtime %] [% IF prefs.pref_forwardskiptime == option.backtime; "selected"; END %]>[% option.backtimetext %]</option>
			  [% END %]
			</select>
		</div>
	[% END %]

	[% WRAPPER setting title="PLUGIN_BBCIPLAYER_TRANSCODE" desc="PLUGIN_BBCIPLAYER_TRANSCODE_DESC" %]

		<div class="prefDesc">[% "ENABLE" | string %]
			<input name="pref_transcode" type="checkbox" [% IF prefs.pref_transcode %] checked [% END %]>
		</div>

	[% END %]

	[% WRAPPER setting title="PLUGIN_BBCIPLAYER_ONAIR_TXT" desc="PLUGIN_BBCIPLAYER_ONAIR_TXT_DESC" %]
		<div class="prefDesc">[% "ENABLE" | string %]
			<input name="pref_onair_txt" type="checkbox" [% IF prefs.pref_onair_txt %] checked [% END %]>
		</div>
	[% END %]
	[% WRAPPER setting title="PLUGIN_BBCIPLAYER_PREFERMENUICON" desc="PLUGIN_BBCIPLAYER_PREFERMENUICON_DESC" %]
		<div class="prefDesc">[% "ENABLE" | string %]
			<input name="pref_showmenuicon" type="checkbox" [% IF prefs.pref_showmenuicon %] checked [% END %]>
		</div>
	[% END %]


	[% WRAPPER setting title="PLUGIN_BBCIPLAYER_LIVETXT_CLASSIC_LINE" desc="PLUGIN_BBCIPLAYER_LIVETXT_CLASSIC_LINE_DESC" %]

		<div>
			<select class="stdedit" name="pref_livetxt_classic_line" id="livetxt_classic_line">
				<option value="0" [% IF prefs.pref_livetxt_classic_line == "0"; "selected"; END %]>[% "PLUGIN_BBCIPLAYER_LIVETXT_TOP" | string %]</option>
				<option value="1" [% IF prefs.pref_livetxt_classic_line == "1"; "selected"; END %]>[% "PLUGIN_BBCIPLAYER_LIVETXT_BOTTOM" | string %]</option>
			</select>
		</div>

	[% END %]
			
	[% WRAPPER setting title="PLUGIN_BBCIPLAYER_MENUURL" desc="PLUGIN_BBCIPLAYER_MENUURL_DESC" %]
		<input type="text" class="stdedit" name="pref_menuurl" id="menuurl" value="[% prefs.pref_menuurl %]" size="75"> &nbsp <input type="submit" name="pref_loadmenuurl" value="[% "PLUGIN_BBCIPLAYER_LOADMENU_BUTTON" | string %]" />
	[% END %]
	
	[% WRAPPER setting title="PLUGIN_BBCIPLAYER_LIVEDELAYSTART" desc="PLUGIN_BBCIPLAYER_LIVEDELAYSTART_DESC" %]
		<div>
			<select class="stdedit" name="pref_livedelaystart" id="livedelaystart">
			  [% FOREACH option = livedelayopts %]
			  <option value=[% option.livedelay %] [% IF prefs.pref_livedelaystart == option.livedelay; "selected"; END %]>[% option.livedelaytext %]</option>
			  [% END %]
			</select>
		</div>
	[% END %]

	[% WRAPPER setting title="PLUGIN_BBCIPLAYER_THRESHOLD" desc="PLUGIN_BBCIPLAYER_THRESHOLD_DESC" %]
		<div>
			<select class="stdedit" name="pref_threshold" id="threshold">
			  [% FOREACH option = thresholdopts %]
			  <option value=[% option.threshold %] [% IF prefs.pref_threshold == option.threshold; "selected"; END %]>[% option.thresholdtext %]</option>
			  [% END %]
			</select>
		</div>
	[% END %]
	
	[% WRAPPER setting title="PLUGIN_BBCIPLAYER_IMAGERES" desc="PLUGIN_BBCIPLAYER_IMAGERES_DESC" %]
		<div>
			<select class="stdedit" name="pref_imageres" id="imageres">
			  [% FOREACH option = imageresopts %]
			  <option value=[% option.imageres %] [% IF prefs.pref_imageres == option.imageres; "selected"; END %]>[% option.imagerestext %]</option>
			  [% END %]
			</select>
		</div>
	[% END %]
		
[% PROCESS settings/footer.html %]
